.cytoscape-react-nodes-and-edges {
  position: absolute;
  z-index: 10;
}

.cytoscape-react-edge {
}

.cytoscape-react-node {
  /* background-color: #e07070; */
  background-color: #808080;
  display: block;
  width: 300px;
  padding: 10px;
}

.cytoscape-react-cy-container {
  width: 100%;
  height: 1000px;
}
